/* ==========================================
    Grid
============================================*/
.row {
  margin-left: -20px; }

.col {
  border: 0px solid transparent;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  border-left-width: 20px;
  margin-left: 0;
  padding: 0 0px; }

.m-hide {
  display: none; }

.m-1 {
  display: block;
  width: 50%; }

.m-all {
  margin-left: 0;
  width: 100%; }

.t-hide {
  display: none; }

.t-1 {
  display: block;
  width: 33.33333%; }

.t-2 {
  display: block;
  width: 66.66667%; }

.t-all {
  margin-left: 0;
  width: 100%; }

.d-hide {
  display: none; }

.d-1 {
  display: block;
  width: 16.66667%; }

.d-2 {
  display: block;
  width: 33.33333%; }

.d-3 {
  display: block;
  width: 50%; }

.d-4 {
  display: block;
  width: 66.66667%; }

.d-5 {
  display: block;
  width: 83.33333%; }

.d-all {
  margin-left: 0;
  width: 100%; }
