// ============================
//	Layout Partial File for:
//	Author: Shane Griffiths
//	Project Contributors:
//
//	* Intructions
//	---------------------------
//	1. Use this file for any core structure and global structure styles.
//	2. Such as header, footer, nav, sidebar, section, articles etc etc
//	3. Anything more specific and move it to _components.scss.
//	4. If there is a small grid system then we can use that in here.
//
//============================ */


/* ==========================================
	GLOBAL LAYOUTS
============================================*/
.wrapper {
	max-width: 61.875em; //990px
	margin: 0 auto;
	padding: 0 .625em;
	&.relative {
		position: relative;
	}
}

/* ==========================================
	HEADER
============================================*/


/* ==========================================
	GRIDS
============================================*/


/* ==========================================
	FOOTER
============================================*/

