// ============================
//	Settings Partial File for:
//	Author: Shane Griffiths
//	Project Contributors:
//
//	* Intructions
//	---------------------------
//	1. Project Specific settings.
//	2. Set colours, fonts, base units etc etc.
//
//============================ */


/* ==========================================
	Type Based Settings
============================================*/
@mixin heading-font {
	//font-family: "", "";
	//font-weight: 400;
}
@mixin body-font($type: regular, $style: normal) {
	$value: 0;
	@if $style == italic {
		$value: 'i';
	} @else {
		$value: 'n';
}
@if $type == thin {
	font-family: "proxima-nova-alt-#{$value}1", "proxima-nova-alt";
	font-weight: 100;
}
@if $type == light {
	font-family: "proxima-nova-alt-#{$value}3", "proxima-nova-alt";
	font-weight: 300;
} @else if $type == regular {
	font-family: "proxima-nova-alt-#{$value}4", "proxima-nova-alt";
	font-weight: 400;
} @else if $type == bold {
	font-family: "proxima-nova-alt-#{$value}7", "proxima-nova-alt";
	font-weight: 700;
}
	font-style: $style;
}


/* ==========================================
	Color Settings
============================================*/
$primary-color: red;
$black-bg : #272727;
$white-bg : #E4E4E4;
$gray-bg : #BCBCBC;
$gray-copy: darken($gray-bg, 50%);


/* ==========================================
	Variables
============================================*/
$margin: 10px;
$basefont: 16;
$baseline: 1.5;
